.jumbotron {
  padding-top: 6rem;
  background-color: #3eac87;
}
.display-4 {
  color: white;
}

.lead {
  color: white;
}

#projects {
  background-color: #3eac87;
}

#gallery {
  background-color: #3eac87;
}

section {
  padding-top: 6rem;
}

.row {
  padding-top: 50px;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
