.jumbotron {
  padding-top: 6rem;
  background-color: #b7e7d7;
}
.display-4 {
  color: black;
}

.lead {
  color: black;
}

#projects {
  background-color: #b7e7d7;
}

#gallery {
  background-color: #b7e7d7;
}

section {
  padding-top: 6rem;
}

.row {
  padding-top: 50px;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
